@tailwind base;
@tailwind components;
@tailwind utilities;


.disabled-register-btn {
    pointer-events: none;
    opacity: 0.5;
}
.alert.alert-danger {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: red;
}
